################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Services/.vs
**/bin/
**/obj/
*.suo
*.user
*.vspscc
*.vssscc
*.cache
*.csproj.user
*.sln.docstates
*.pdb
*.dll
*.exe
